@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 2 11% 8%;
  --foreground: 0 0% 95%;
  --card: 0 0% 12%;
  --card-foreground: 0 0% 95%;
  --primary: 32 100% 50%;
  --primary-foreground: 0 0% 12%;
  --secondary: 264 95% 35%;
  --secondary-foreground: 0 0% 95%;
  --muted: 0 0% 30%;
  --muted-foreground: 0 0% 65%;
  --accent: 88 100% 60%;
  --accent-foreground: 0 0% 12%;
  --border: 0 0% 20%;
  --input: 0 0% 15%;
}

.text-muted-foreground{
color: var(--muted-foreground);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  color-scheme: dark;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
